/* 폰트 */
 @font-face {font-family:'a시월구일2';src: url('../../font/a시월구일2.ttf') format('truetype');}
 
.fw-normal{color:black;font-family: 'Nanum Barun Gothic', sans-serif; font-size:17px; margin: 0 35px;}
.mainsub{color:black; font-size:25px; font-family: 'a시월구일2','Noto Sans KR', sans-serif;}

/* 사이즈 조절 */
.body{text-align:center;}
.row{margin:0 70px 0 90px;}
body > div.container.marketing{padding:0 47px!important}

/* 메뉴 이름 */
.m1{margin-left:64px;margin-right:57px; margin-bottom: 15px;}
.m2{margin-left:63px;margin-right:50px; margin-bottom: 15px;}

/* 메뉴 아이콘 */
#film_icon{float:left; margin-top:-15px; margin-left:9px;}
#commu_icon{float:left; margin-top:-3px; margin-left:7px;}

/* 영화 포스터 사이즈 */
td>img{width:150px; height:195px;border-radius: 10px;}


/* 테이블 */
table{margin:10px auto; text-align: center; }
.table {table-layout:fixed;}
.table-box{width:950px; margin: 0 auto;}
.table td, .table th {border-top:1px solid #ccc; word-break:break-all}
td {color:#101010 !important; padding: 10px 20px; font-family: 'Nanum Barun Gothic'; font-size:17px; font-weight:bold;}
.commu {width:880px;}
.commu > tbody > tr > td{border-bottom:1px solid lightgray;  color:#2e2e2e }
.commu > tbody > tr > td:nth-child(2){width:600px; text-align:left; padding-left:80px}
.commu > tbody > tr > td:nth-child(3){width:150px; text-align:left;}
.commu > tbody > tr > td:nth-child(4){width:170px; text-align:left;}
body > div.container.marketing > div > div:nth-child(3) > div.table-box > table > tbody > tr > td > a {text-decoration:none;color:#101010 }
@media screen and (max-width:1200px) {
  .table-box{width:auto; overflow-x:auto;}
  .table{width:auto;}
  body > div.container.marketing{padding:0px!important}
  .row{margin:0px;}
  .commu {width:600px;}
  .commu > tbody > tr > td:nth-child(2){width:400px; text-align:left; padding-left:0px}
}