@font-face {font-family:'a시월구일2';src: url('../../font/a시월구일2.ttf') format('truetype');}
select.form-control{width:auto;margin-bottom: 2em;display:inline-block}
h2{font-family:'a시월구일2';}
*:focus,*:active{outline:none!important;}
.pagination {--bs-pagination-active-border-color: none !important;--bs-pagination-disabled-color: none important;}
body{background:#e3e3e3 !important;}
footer {
  bottom: 0px;
  height: 3rem;
  background-color: #ccc;
  width: 100%;
  text-align: center;
  line-height: 3rem;
}
.community1{background:#fafafa;border-radius:20px; padding: 30px 20px 160px 20px; margin:  10px auto;}
.rows{text-align: right;}
.commut{table-layout:auto; width:100%; table-layout:fixed;
text-align:center; font-size:15px;color:#2b2b2b;border-color:silver; max-width:800px; margin:20px auto;}
#comm{height:1500px;}
#comm > div > table > tbody > tr > td:nth-child(2){font-size:16px;text-align:left; text-decoration:none; padding-left:20px;}
#comm > div > table > thead > tr:nth-child(2) > th:nth-child(2) > div{text-align:left;padding-left:20px;}
#comm > div > table > thead > tr:nth-child(1) > th{text-align:left; border-bottom:3px solid silver; padding:10px 20px 10px 6px;
font-size:20px; font-family:'a시월구일2'; color:#212529;}
#comm > div > table > tbody > tr {color:#4e4e4e;}
#comm > div > table > tbody > tr > td > div > a {text-decoration:none; color:#212529;}
#comm > div > table > tbody > tr > td > div > span{color:#f30;}
/* 글쓰기 버튼 */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #53ca93;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "a시월구일2",sans-serif;
  font-size: 26px;
  justify-content: center;
  line-height: 1;
  margin: 0 17px;
  min-height: 44px;
  padding: 10px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 120px;
}
.button-5:hover {transform: translateY(-1px);}
.cowrt{font-size:20px;width:94px;height:17px!important; margin:0!important;background-color: #f80;border:none;}
.cowrt:hover,.cowrt:focus {
  background-color: #ffa033 !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.cowrt:active {background-color: #ffa033;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
/* 등록 버튼 */
.addcommu:hover,.addcommu-5:focus {
  background-color: #66eaad;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.addcommu-5:active {background-color: #53ca93;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
/* 취소 버튼 */
.cancommu{background-color: #e86478;}
.cancommu:hover,.cancommu:focus {
  background-color: #f98597;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.cancommu:active {background-color: #e86478;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


/* 페이징 */
.center-block{margin: 50px 5px 3px 560px;}
.commup {margin:0}
.commup, page-item{list-style-type:none;}
.commup > li{ list-style-type:none; float:left;}
.page-link{border:none;}
.page-link>a:focus{outline:none;}
.hovernone{color:#363636;}
.pageActive{color:white!important; background: #f80;border-radius:50%; font-weight:bold;}
li.page-item > a:hover{color:#f80!important;}
li.page-item > a:active{color:white!important; background: #f80;border-radius:50%; font-weight:bold;outline:none;}
li.page-item , li.page-item1 > a{text-decoration:none;color:#363636;padding:0 3px;}
li.page-item > a{display:inline-block;padding:0 8px; border-radius:50%;text-decoration:none;color:#363636;}
/* 검색바 */
.my_search{margin: 45px 0px -2px 500px;}
#mySearchinput:focus{ outline:none;}
.mySearch1,#mySearchinput,#viewcount{border:1px solid silver; color:#363636;font-size:15px;}
#viewcount{width:90px;height:26.5px;font-size:14px}
#modifybtn{margin-right:6px}
#modifybtn,#deletebtn1{cursor:pointer;}
/* 미디어쿼리 */
@media (min-width:1250px) and (max-width:1400px) {
	.container, .container-sm {min-width: 1100px !important;}
	.center-block{margin: 50px 5px 3px 490px!important;}
	.my_search{margin: 45px 0px -2px 430px!important;}
}
@media (min-width:1180px) and (max-width:1250px) {
	.container, .container-sm {min-width: 1100px !important;}
	.center-block{margin: 50px 5px 3px 485px!important;}
	.my_search{margin: 45px 0px -2px 425px!important;}
}
@media (min-width:1080px) and (max-width:1180px){
	.container, .container-sm {min-width: 1100px !important;}
	.center-block{margin: 50px 5px 3px 460px!important;}
	.my_search{margin: 45px 0px -2px 400px!important;}
}
@media (min-width:990px) and (max-width:1080px){
	.container, .container-sm {min-width: 800px !important;}
	.center-block{margin: 50px 5px 3px 320px!important;}
	.my_search{margin: 45px 0px -2px 260px!important;}
}
@media (min-width:900px) and (max-width:990px){
	.container, .container-sm {min-width: 800px !important;}
	.center-block{margin: 50px 5px 3px 248px!important;}
	.my_search{margin: 45px 0px -2px 248px!important;}
}
@media (min-width:850px) and (max-width:900px){
	.container, .container-sm {min-width: 800px !important;}
	.center-block{margin: 50px 5px 3px 240px!important;}
	.my_search{margin: 45px 0px -2px 200px!important;}
}
@media (max-width:850px){
	.commut{font-size:15px}
	.container, .container-sm {min-width: 600px !important;}
	.center-block{margin: 50px 5px 3px 200px!important;}
	.my_search{margin: 45px 0px -2px 160px!important;}
}
@media (max-width:700px){
	.commut{font-size:12px}
	.container, .container-sm {min-width: 500px !important;}
	.center-block{margin: 50px 5px 3px 150px!important;}
	.my_search{margin: 45px 0px -2px 110px!important;}
}

/* 글작성 */
#comm > .community2 > table {font-size:15px;text-align:right;}
#comm > .community2 > table > tbody > tr > td:nth-child(1) {padding:15px 13px}
#comm > .community2 > table > tbody > tr > td:nth-child(2) > input {width:85%; height:40px;color:#363636;padding-right:40px}
#comm > .community2 > table > tbody > tr > td:nth-child(2) > textarea {width:85%; height:400px;color:#363636;padding-right:40px}
#comm > .community2 > table > tbody > tr:nth-child(4) > td{text-align:center;padding: 35px;}
#comm > .community2  > table > tbody > tr:nth-child(1) > td:nth-child(1){padding-top:36px}
#comm > .community2  > table > tbody > tr:nth-child(1) > td:nth-child(2){padding-top:30px}
.community2> table > tbody > tr {border:1px solid white;}
td>input[type=text], td>textarea{
	background: #f5f5f5;
    font-size: 13px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 9px 10px;
    width: 350px;
    height: 40px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}
.wrticon{font-size:30px;font-weight:bold;color:#363636}
